{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="ticket-list">
    <h1>Home</h1>

    {{ dump() }}
    {% if tickets is defined %}
        <ul>
        {% for ticket in tickets %}
            {% for message in ticket.messages %}
                <li>
                    <h6>{{ message.title }}</h6>
                    <p>{{ message.content }}</p>
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
