{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(addUserTicketForm) }}
        {{ form_row(addUserTicketForm.users) }}

        <button class="btn">Add this user</button>
    {{ form_end(addUserTicketForm) }}
{% endblock %}
