{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(editMessage) }}
        {{ form_row(editMessage.title) }}
        {{ form_row(editMessage.content) }}

        <button class="btn btn-primary">Edit this message</button>
    {{ form_end(editMessage) }}
{% endblock %}
