{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(ticketForm) }}
        {{ form_row(ticketForm.title) }}
        {{ form_row(ticketForm.content) }}

        <button class="btn btn-lg btn-primary">Send</button>
    {{ form_end(ticketForm) }}
{% endblock %}
